<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="js/main.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/page.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- SimplePagination 連結  https://flaviusmatis.github.io/simplePagination.js/ -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>


</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>Go to <a href="hello">hello.html</a></p>
        <p>Go to <a href="hello?lang=en_US">hello.html(en_US)</a></p>
        <p>Go to <a href="hello?lang=zh_TW">hello.html(zh_TW)</a></p>
        <p>Go to <a href="hello?lang=ja_JP">hello.html(ja_JP)</a></p>

        <a href="index?lang=en_US">English</a>
        <a href="index?lang=zh_TW">中文</a>

        <section>
            <h1 th:text="#{message.welcom}"></h1>
            <form action=" login" method="post">
                <label th:text="帳號"></label>
                <input type="text" name="sname"> <br />
                <label>密碼</label>
                <input style="width:50px;" type="text" name="password"><br /><br />


                <button type="submit" name="submit" id="enter">登入</button>
            </form>

            <form action="creatTable" method="post">
                <button type="submit">創建表個資料</button>
            </form>

            <div th:text="${message}"> 返回信息</div> <br />
            <label th:text="${message1}"> 創建資料庫表個信息</label> <br />

            <button type="submit" name="register" onclick="location.href='register'" id="register">註冊</button>
            <button type="submit" name="forgetpassword" id="forgetpassword"
                onclick="location.href='forget'">忘記密碼</button>
            <button type="submit" name="createTable" id="createTable" onclick=create();>創建資料庫表格</button> <br />
            sno<input type="text" id="serchSno" name="serchSno">
            sname<input type="text" id="serchSname" name="sname">
            支付方式<select id="payMethod">
                <option value="0">全選</option>
            </select>
            <button type="submit" name="查詢表格" id="searchData" onclick=search();>搜索</button>
            <button type="submit" name='serarchNameprecedure' id="serarchNameprecedure"
                onclick=getSearchNameProcedure();>procedure查詢</button><br />
            <table border="2">
                <tr>
                    <td>dsfsadfasdf</td>
                    <td>34567989</td>
                </tr>
                <tr>
                    <td>484fgihiherg</td>
                </tr>
                <tr>
                    <td>999477843dfqhwf</td>
                </tr>
            </table>

            <input type="text" property="aaa" name="bbb" value="">測試property
            <button type="submit" id="getproperty" onclick=getproperty()>獲取property</button>
            <button type="submit" id="delAndupdate" onclick=save()>儲存</button>
            <button type="submit" id="stop" onclick=stop()>停用</button>
            <button type="submit" id="start" onclick=start()>啟用</button>
            </br>
            </br>
            </br>
            <table id=table class="listdata" border=1>
                <tr>
                    <td>序號</td>
                    <td>單選</td>
                    <td>id</td>
                    <td>sno</td>
                    <td>sname</td>
                    <td>payid</td>
                    <td>payName</td>
                    <td>status</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </table>
            <table id=table class="procedure" border=1>
                <tr>
                    <td>序號</td>
                    <td>id</td>
                    <td>name</td>
                    <td>password</td>
                    <td>email</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </table>
            <hr>
            <h1>分頁</h1>
            <div id="pagination-container"></div>

            <button type="submit" id="modifyStatus" onclick="changeStatus()">變更狀態</button>
            <table id=productTable class="productdata" border=1>
                <tr>
                    <td>pid</td>
                    <td>pno</td>
                    <td>pname</td>
                    <td>pprice</td>
                    <td>status</td>
                    <td>statusNC</td>
                    <td>操作</td>
                </tr>

            </table>

            <div>
                <input type="checkbox" name="intersting[]" value="彈鋼琴">
                <label for="music"> 彈鋼琴</label>
            </div>

            <input type="checkbox" name="intersting[]" id="aaa123" value="打籃球">打籃球
            <input type="checkbox" name="intersting[]" id="aaa456" value="爬山">爬山
            <input type="checkbox" name="intersting[]" id="aaa789" value="淨灘">淨灘
            <button type="button" onclick="getCheckboxValue()">getCheckboxValue </button>

            <div>
                測試標籤
                <input type="text" id="bb12346" value="123">
            </div>
            <input type="text" id="bb555454" value="234">123
            <input type="text" id="bb888554" value="67889">123
            <button type="button" onclick="testTheSameHeard()"> testTheSameHeard</button>

            <button type="button" id="atme">點我改變ddl直</button>


            <select id="color" name="color">
                <!-- 靜態選項 -->
                <option value="red">Red</option>
                <option value="green">Green</option>
                <option value="blue">Blue</option>

            </select>


            <button type="submit" onclick=getselectcolor()>獲取選擇顏色按鈕</button>
            <input type="text" naem="oodd"> oodd
            <button type="submit" onclick="ceheckEmpty()">確認是否為空值</button>





            <script>
                function getSearchNameProcedure() {
                    $(".trs").remove();
                    var searchsname = $('#serchSname').val();
                    $.ajax({
                        url: "/serarch/procedure",
                        method: 'post',
                        data: { searchsname },
                        success: function (result) {
                            states = result.states;
                            if (states != "200") {

                            }
                            result = result.data;
                            for (i = 0; i < result.length; i++) {
                                $(".procedure").append("<tr class='trs'><td>"
                                    + (i + 1) + "</td><td>"
                                    + result[i].id + "</td><td>"
                                    + result[i].name + "</td><td>"
                                    + result[i].password + "</td><td class='ddltd'>"
                                    + result[i].email + "</td><td>"
                                    + "<a href='#' onclick=edit(" + result[i].id + ");> edit</a> </td > "
                                    + " <td><a href='#' onclick=del(" + result[i].id + ");>delete</a> </td ></tr > ")
                            }

                        },
                        error: function (result) {
                            alert("獲取失敗");
                        }


                    })
                }




                function ceheckEmpty() {
                    var oodd = $('[name=oodd]').val();
                    if (oodd == null) {
                        console.log("isEmpty")
                    } else {
                        console.log("is not Empty")

                    }
                }
                function getselectcolor() {
                    var colorValue = $('#color').val();
                    fetch('color/select', {
                        method: 'POST',
                        headers: { 'Content-Type': 'application/json' },
                        body: JSON.stringify({ "color": colorValue })
                    }).then(response => response.json())
                        .then(data => {
                            console.log('Response from server:', data);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }



                function stop() {
                    // var $row = $('#table > tbody > .trs:has(:radio[name=radioselect]:checked)')//也可以這樣寫
                    var $row = $('#table > tbody > .trs:has(input[name=radioselect]:checked)')
                    $row.each(function () {
                        var sname = $(this).find('input[name=sname]').val();
                        var status = $(this).find('input[name=status]').val();
                        var id = $(this).find('input[name=radioselect]').val();
                        $.ajax({
                            url: 'accountstatus',
                            data: { id, sname, status },
                            success: function (result) {
                                result = result.message
                                alert("result: " + result.success);
                            },
                            error: function () {
                                alert("result: " + result);
                            }

                        })
                        alert("sname: " + sname + " , " + "status: " + status + " , " + "id: " + id);
                    })
                }
                function start() {

                }

                function save() {
                    var dataArray = [];

                    $('.trs').each(function () {
                        var idElement = $(this).find('td:nth-child(2)')
                        var selectElement = $(this).find('.ddl');
                        var idValue = idElement.text();
                        var selectValue = selectElement.val();
                        var dateToSend = {
                            id: idValue,
                            selectOption: selectValue
                        };

                        dataArray.push(dateToSend)

                    })
                    console.log(dataArray);

                    console.log("JSon dateArray: " + JSON.stringify(dataArray));


                    $.ajax({
                        url: 'save',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify(dataArray),
                        success: function (result) {
                            alert(result);
                            search()
                        },
                        error: function () {
                            alert('失敗');
                        }
                    })

                }
                function getCheckboxValue() {
                    var getvlaue = $('[id^=aaa]').each(function () {
                        console.log($(this).val());
                    })
                }

                function testTheSameHeard() {
                    var answer = $('[id^=bb]').each(function () {
                        alert($(this).val());
                    })
                }
            </script>

            <script>

                $(document).ready(function () {
                    $.ajax({
                        url: 'paydownselect',
                        type: 'post',
                        success: function (response) {
                            result = response.data;
                            for (i = 0; i < result.length; i++) {
                                $("#payMethod").append("<option value=" + result[i].id + ">" + result[i].payname + "</option>");
                            }
                        }
                    })
                    $.ajax({
                        url: 'product',
                        type: 'post',
                        success: function (response) {
                            result = response;
                            for (i = 0; i < result.length; i++) {
                                $(".productdata").append("<tr  class='producttb'><td>"
                                    + result[i].pid + "</td><td>"
                                    + result[i].pno + "</td><td>"
                                    + result[i].pname + "</td><td>"
                                    + result[i].pprice + "</td><td>"
                                    + result[i].status + "</td><td>"
                                    + result[i].statusNC + "</td><td>"
                                    // + "<button type='submit' onclick=changeStatus(" + result[i].pid, result[i].status + ");>變更狀態 </button> </td></tr>"
                                    + "<button type='submit' onclick=changeStatus(" + result[i].status + "," + result[i].pid + ") > 變更狀態</button> </td></tr>"
                                )
                            }
                        }
                    })
                })


                function getddlPayName() {
                    $.ajax({
                        url: 'paydownselect',
                        type: 'post',
                        success: function (response) {
                            result = response.data;
                            for (i = 0; i < result.length; i++) {
                                $("#payMethod").append("<option value=" + result[i].id + ">" + result[i].payname + "</option>");
                            }
                        }
                    })
                }

                function search() {
                    sno = $('[name=serchSno]').val();
                    sname = $('#serchSname').val();
                    payMethod = $('#payMethod').val();
                    $.ajax({
                        url: 'alllist',
                        type: 'post',
                        data: { sno: $('#serchSno').val(), sname: $('#serchSname').val(), payid: $('#payMethod').val() },
                        success: function (response) {
                            $(".trs").remove();
                            result = response.data;
                            ddldate = response.date2;
                            console.log(ddldate);
                            for (i = 0; i < result.length; i++) {
                                // 用ddldate 是去DB paymethod表拉回來的列表 [{id: 1, payname: "1_現金"}, {id: 2, payname: "2_支票"}]   ddldate.map 會計算length(1)
                                var dropdownOptions = ddldate.map(function (item) {
                                    return "<option value='" + item.id + "' " + (item.id === result[i].payid ? "selected" : "") + ">" + item.payname + "</option>";
                                }).join('');
                                $(".listdata").append("<tr class='trs'><td>"
                                    + (i + 1) + "</td><td>"
                                    + "<input type='radio' name='radioselect' value=" + result[i].id + ">"
                                    + "<input type='hidden' name='sname' value=" + result[i].sname + ">"
                                    + "<input type='hidden' name='status' value=" + result[i].status + "></td><td>"
                                    + result[i].id + "</td><td>"
                                    + result[i].sno + "</td><td>"
                                    + result[i].sname + "</td><td>"
                                    + result[i].payid + "</td><td class='ddltd'>"
                                    + "<select class='ddl'>" + dropdownOptions + " </select > </td > <td>" // 塞入下拉式選單
                                    + result[i].status + "</td><td>"
                                    + "<a href='#' onclick=edit(" + result[i].id + ");> edit</a> </td > "
                                    + " <td><a href='#' onclick=del(" + result[i].id + ");>delete</a> </td ></tr > ")
                            }


                            //每頁要顯示幾個項目
                            var perPage = 10;
                            //總共有多少個項目
                            var numItems = $(".trs").length;
                            $(".trs").slice(perPage).hide();
                            $('#pagination-container').pagination({
                                items: numItems,        //總數
                                itemsOnPage: perPage,   //當前頁數筆數
                                prevText: "&laquo;",
                                nextText: "&raquo;",

                                onPageClick: function (pageNumber) {
                                    from = perPage * (pageNumber - 1); //從第幾筆開始 ＝ 當前筆數*(頁碼-1)   ex:0,10(2-1),
                                    to = from + perPage;               //到底幾筆 = 從第幾筆開始+比數        ex:3,3+3
                                    $(".trs").hide().slice(from, to).show();  //sliec(切片)(0,3) 實際上只會算到 (0,3-1)也就是前三筆，後面依此類推。(3,6)實際上(3,6-1) (3,4,5)儲存的位子 (4,5,6)值
                                }
                            })
                        }
                    });
                };
                function ddlpayName() {
                    $.ajax({
                        url: 'paydownselect',
                        type: 'post',
                        success: function (response) {
                            result = response.data;
                            for (i = 0; i < result.length; i++) {
                                $(".ddlpayName").append("<option value=" + result[i].id + ">" + result[i].payname + "</option>");
                            }
                        }
                    })
                }
                function create() {
                    $.ajax({
                        url: 'creatTable',
                        type: 'post',
                        data: { "1": "aaa", "2": "bbb" },
                        success:
                            function (data) { alert("創建成功"); },
                        error:
                            function () { alert("創建失敗"); }
                    })
                }

                function getproperty() {
                    $("[name='bbb']").val("gggggh123234544");
                    getprop = $("[name='bbb']").val();
                    console.log(getprop);
                }
                function changeStatus(status, pid) {
                    $.ajax({
                        url: 'changeStatus',
                        type: 'post',
                        data: { status, pid },
                        success: function (response) {
                            alert("狀態修改為" + status)
                            window.location.reload();
                        },
                        error: function () {
                            alert("修改失敗")
                        }


                    })
                }
                var date1 = "112/12/15"
                var year = date1.substr(0, 3);
                StringtoInt = parseInt(year);
                var adyear = StringtoInt + 1911;
                var month = date1.substr(4, 2);
                var day = date1.substr(7, 2);

                var newdate = adyear.toString() + "/" + month + "/" + day;
                console.log(newdate);


                var date1Obj = new Date(newdate);
                var nowdate = new Date()
                console.log("date1Obj: " + date1Obj);

                if (date1Obj > nowdate) {
                    console.log("true: " + date1Obj + " > " + nowdate)

                } else {
                    console.log("false: " + date1Obj + " < " + nowdate)
                }

            </script>

        </section>



    </main>
    <footer>
        <p>&copy; 2023 My Website. All Rights Reserved.</p>
    </footer>

</body>


</html>