<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <script src="js/main.js"></script>
    <link href="css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/page.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- SimplePagination 連結 -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/simplePagination.js/1.6/jquery.simplePagination.min.js"></script>


</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Welcome to my website!</h1>
            <form action="login" method="post">
                <label>帳號</label>
                <input type="text" name="sname" id="sname"></intpu><br />
                <label>密碼</label>
                <input type="text" name="password" id="password"><br /><br />

                <button type="submit" name="submit" id="enter">登入</button>
            </form>

            <label th:text="${message}">返回信息</label> <br />

            <label th:text="${message1}">創建資料庫表個信息</label> <br />

            <button type="submit" name="register" onclick="location.href='register'" id="register">註冊</button>
            <button type="submit" name="forgetpassword" id="forgetpassword"
                onclick="location.href='forget'">忘記密碼</button>
            <button type="submit" name="createTable" id="createTable" onclick=create();>創建資料庫表格</button> <br />
            sno<input type="text" id="serchSno" name="sno">
            sname<input type="text" id="serchSname" name="sname">
            支付方式<select id="payMethod">
                <option value="0">全選</option>
            </select>
            <button type="submit" name="查詢表格" id="searchData" onclick=search();>搜索</button> <br />

            <table border="2">
                <tr>
                    <td>dsfsadfasdf</td>
                    <td>34567989</td>
                </tr>
                <tr>
                    <td>484fgihiherg</td>
                </tr>
                <tr>
                    <td>999477843dfqhwf</td>
                </tr>
            </table>

            <input type="text" property="aaa" name="bbb" value="">測試property
            <button type="submit" id="getproperty" onclick=getproperty()>獲取property</button>

            <br />
            <table id=table class="listdata" border=1>
                <tr>
                    <td>序號</td>
                    <td>id</td>
                    <td>sno</td>
                    <td>sname</td>
                    <td>payid</td>
                    <td>payName</td>
                    <td>edit</td>
                    <td>delete</td>
                </tr>
            </table>
            <hr>
            <h1>分頁系統</h1>
            <div id="list-wrapper"></div>
            <!-- 項目 -->
            <div class="list-item">
                <p>1</p>
            </div>
            <div class="list-item">
                <p>2</p>
            </div>
            <div class="list-item">
                <p>3</p>
            </div>
            <div class="list-item">
                <p>4</p>
            </div>
            <div class="list-item">
                <p>5</p>
            </div>
            <div class="list-item">
                <p>6</p>
            </div>
            <div class="list-item">
                <p>7</p>
            </div>
            <div class="list-item">
                <p>8</p>
            </div>
            <div class="list-item">
                <p>9</p>
            </div>
            <div class="list-item">
                <p>10</p>
            </div>
            <div class="list-item">
                <p>11</p>
            </div>
            <div class="list-item">
                <p>12</p>
            </div>
            <div class="list-item">
                <p>13</p>
            </div>
            <div class="list-item">
                <p>14</p>
            </div>
            <div class="list-item">
                <p>15</p>
            </div>
            <div class="list-item">
                <p>16</p>
            </div>
            <div class="list-item">
                <p>17</p>
            </div>



            <div id="pagination-container"></div>

            <script>
                // //每頁要顯示幾個項目
                // var perPage = 2;
                // //總共有多少個項目
                // var numItems = $(".list-item").length;
                // $(".list-item").slice(perPage).hide();
                // $('#pagination-container').pagination({
                //     items: numItems,
                //     itemsOnPage: perPage,
                //     prevText: "&laquo;",
                //     nextText: "&raquo;",
                //     onPageClick: function (pageNumber) {
                //         from = perPage * (pageNumber - 1);
                //         to = from + perPage;
                //         $(".list-item").hide().slice(from, to).show();
                //     }

                // })

                $(document).ready(function () {
                    $.ajax({
                        url: 'paydownselect',
                        type: 'post',
                        success: function (response) {
                            result = response.data;
                            for (i = 0; i < result.length; i++) {
                                $("#payMethod").append("<option value=" + result[i].id + ">" + result[i].payname + "</option>");
                            }
                        }
                    })
                })


                function search() {
                    sno = $('#serchSno').val();
                    sname = $('#serchSname').val();
                    payMethod = $('#payMethod').val();
                    $.ajax({
                        url: 'alllist',
                        type: 'post',
                        data: { sno: $('#serchSno').val(), sname: $('#serchSname').val(), payid: $('#payMethod').val() },
                        success: function (response) {
                            $(".trs").remove();
                            result = response.data;
                            for (i = 0; i < result.length; i++) {
                                $(".listdata").append("<tr class='trs'><td>"
                                    + (i + 1) + "</td><td>"
                                    + result[i].id + "</td><td>"
                                    + result[i].sno + "</td><td>"
                                    + result[i].sname + "</td><td>"
                                    + result[i].payid + "</td><td>"
                                    + result[i].payName + "</td><td>"
                                    + "<a href='#' onclick=edit(" + result[i].id + ");> edit</a> </td >"
                                    + " <td><a href='#' onclick=del(" + result[i].id + ");>delete</a> </td ></tr > ")
                            }
                            //每頁要顯示幾個項目
                            var perPage = 3;
                            //總共有多少個項目
                            var numItems = $(".trs").length;
                            $(".trs").slice(perPage).hide();
                            $('#pagination-container').pagination({
                                items: numItems,
                                itemsOnPage: perPage,
                                prevText: "&laquo;",
                                nextText: "&raquo;",
                                onPageClick: function (pageNumber) {
                                    from = perPage * (pageNumber - 1);
                                    to = from + perPage;
                                    $(".trs").hide().slice(from, to).show();
                                }
                            })
                        }
                    });


                };

                function create() {
                    $.ajax({
                        url: 'creatTable',
                        type: 'post',
                        data: { "1": "aaa", "2": "bbb" },
                        success:
                            function (data) { alert("創建成功"); },
                        error:
                            function () { alert("創建失敗"); }
                    })
                }

                function getproperty() {
                    $("[name='bbb']").val("gggggh123234544");
                    getprop = $("[name='bbb']").val();
                    console.log(getprop);
                }
            </script>

        </section>



    </main>
    <footer>
        <p>&copy; 2023 My Website. All Rights Reserved.</p>
    </footer>

</body>


</html>