<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script src="js/main.js"></script>
    <link href="css/main.css" rel="stylesheet">
</head>
<header>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</header>
<main>
    <section>
        <h1>請至您的信箱查收您的新密碼!</h1>
    </section>

   
   
</main>
<footer>
    <p>&copy; 2023 My Website. All Rights Reserved.</p>
</footer>
</html>